@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');

.footer__container {
    align-items: center;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    height: 470px;
    margin: 4rem;
    width: 100%;
}

.footer__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 240px;
    justify-content: space-between;
    margin: 0 0 2rem;
    width: 1136px;
}

.footer__menu___list {
    text-decoration: none;
}

.footer__logo {
    height: 50px;
    width: 176px;
}

.footer__menu {
    height: 240px;
    width: 176px;
}

.footer__form {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    
    width: 560px;
}

.footer__name {
    color: var(--title-text);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.footer__social {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 2rem;
    width: 100%;
}

.footer__social a {
    color: var(--title-text);
    text-decoration: none;
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-align: center;
    padding: .5rem .5rem .75rem;
}

.footer__social a:hover {
    color: var(--title-text);
    transform: scale(1.1);
}

