.item__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 306px;
    justify-content: space-between;
    margin: 4rem 0 0;
}

.item__topBar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1136px;
}

.item__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item__category {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.item__more {
    font-size: 1.375rem;
}

.item__content {
    display: flex;
    flex-direction: row;
}

.item__box {
    display: flex;
    flex-direction: column;
    margin: 1rem .5rem 0;
    width: 176px;
}

.item__image {
    height: 174px;
    width: 176px;
}

.item__name {
    color: #464646;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1rem;
    margin: .5rem 0 0;
}

.item__price {
    color: #464646;
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;
    margin: .5rem 0 0;
}

.item__info {
    color: #2A7AE4;
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;
    margin: .5rem 0 0;
    text-decoration: none;
}